<!doctype html>
<html>
<head>
    <title>Pokemon Card Trading API</title>
</head>
<body>
    {{{body}}}
</body>
</html>

<style>
    
    a {
        text-decoration: none;
    }
    
    html {
        background-color: #ffcb05;
    }

    h1 {
        color: #2a75bb;
        background-color: #c7a008;
    }

    h2 {
        color:#2a75bb;
        background-color: #c7a008;
    }

    h3, p{
        color: #3c5aa6;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 10px;
    }

    .row {
        margin: 0 -5px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .card {
        background: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }


</style>